@import url("https://fonts.googleapis.com/css2?family=Glory:wght@200;300;500;600;800&display=swap");
:root {
  --color-main1: $color-main1;
  --color-main2: $color-main2;
  --color-main3: $color-main3;
}
html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
}
body {
  font-family: "Glory";
  font-weight: 300;
}
ul li,
a {
  list-style: none;
  text-decoration: none;
}
a {
  color: #faeaea;
}
p {
  color: #62185b;
  font-size: 1.5em;
}
h4,
h5 h6 {
  font-weight: 300;
  color: #62185b;
}
h3 {
  font-weight: 400;
  color: #62185b;
}
h2 {
  font-weight: 600;
  color: #62185b;
}
h1 {
  font-size: 10em;
  font-weight: 800;
  color: #62185b;
}
h2 {
  font-size: 4em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.75em;
}
nav li a {
  font-size: 0.75em;
  font-weight: 300;
}
img {
  width: 100%;
}
button {
  font-family: "glory";
  font-weight: 400;
  border-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.75rem;
  color: #62185b;
  background: radial-gradient(129.83% 129.83% at 49.68% -52.5%, #ffe6e6 38.96%, rgba(255, 208, 208, 0) 100%), rgba(103, 0, 93, 0.63);
  box-shadow: 0px 6px 12px rgba(120, 0, 108, 0.24);
  text-shadow: 0px 2px 6px rgba(120, 0, 108, 0.7);
  border-radius: 16px;
  font-size: 1.25rem;
  letter-spacing: 4px;
  transition: all 200ms cubic-bezier(0, 0, 0.44, 0.68);
}
button:hover {
  cursor: pointer;
  background: radial-gradient(102.5% 102.5% at 49.68% -52.5%, #ffd0d0 0%, rgba(255, 208, 208, 0) 100%), #78006c;
  box-shadow: 0px 4px 4px rgba(120, 0, 108, 0.18);
  color: #faeaea;
}
button:disabled {
  background: radial-gradient(129.83% 129.83% at 49.68% -52.5%, #d8acac 38.96%, rgba(255, 208, 208, 0.384) 100%), rgba(95, 90, 93, 0.63);
  box-shadow: none;
  text-shadow: none;
  color: rgba(28, 23, 28, 0.8);
  opacity: 0.5;
}
button:focus {
  box-sizing: border-box;
  outline: none;
  background: radial-gradient(102.5% 102.5% at 49.68% -52.5%, #ffd0d0 0%, rgba(255, 208, 208, 0) 100%), #78006c;
  box-shadow: inset 0 0 3px 3px rgba(153, 51, 143, 0.7);
  transition: all 200ms;
  color: rgba(28, 23, 28, 0.8);
}
button:active {
  box-sizing: border-box;
  outline: none;
  background: radial-gradient(102.5% 102.5% at 49.68% -52.5%, #ffd0d0 0%, rgba(255, 208, 208, 0) 100%), #78006c;
  box-shadow: inset 0 0 3px 6px rgba(153, 51, 143, 0.7);
  transition: all 200ms;
  color: rgba(153, 51, 143, 0.7);
}
input,
textarea {
  background-color: #faeaea;
  padding: 1em;
  margin: 1em;
  outline: none;
  border: 3px solid #faeaea;
  border-radius: 12px;
  color: #62185b;
}
input:focus,
textarea:focus,
select:focus {
  border: 3px solid rgba(153, 51, 143, 0.7);
  box-sizing: border-box;
  color: #62185b;
  font-weight: 600;
  transition: all 200ms;
}
.meow-me.focused {
  box-shadow: 0 0 4px 4px rgba(153, 51, 143, 0.7);
  transition: 200ms all;
}
.overlay-focus {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(28, 23, 28, 0.8);
  /* Black background with opacity */
  z-index: 2;
  /* Specify a stack order in case you're using a different order */
  transition: all 100ms linear;
}
.overlay-focus-on {
  display: block;
}
header {
  font-size: 2em;
  position: absolute;
  width: 100%;
  z-index: 100;
}
header a#logo {
  margin: 1em;
  padding: 0.25em;
  border-radius: 50%;
}
header a#logo svg {
  fill: #ffd1d1;
}
header ul {
  background-color: rgba(115, 13, 105, 0.5);
  box-shadow: 0 0 8px #62185b;
  display: flex;
  justify-content: flex-start;
  height: auto;
  flex-direction: row;
  padding: 0.25em 0;
}
header ul li {
  border-radius: 0.25em;
}
header ul li a {
  margin: 0 0.75em;
  display: flex;
  align-items: center;
  padding: 1.25em 0.35em;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}
header ul li:hover {
  transition: all 200ms ease;
  background-color: rgba(153, 51, 143, 0.7);
  cursor: pointer;
  color: #ffd1d1;
}
@media (max-width: 767px) {
  header {
    width: 100%;
  }
}
section {
  height: 100vh;
  width: 100%;
}
section.hero {
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-direction: row;
}
section .content {
  width: 150%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  padding: 2em;
  z-index: 10;
}
section#furry {
  background-color: #62185b;
}
section#furry h1,
section#furry p {
  color: #faeaea;
}
section#furry .hero-img-bgcol {
  background-color: #62185b;
}
section#chillin {
  background-color: #faeaea !important;
}
section#chillin .hero-img-bgcol {
  background-color: #faeaea;
}
section .hero-img-bgcol {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}
section .image {
  z-index: 15;
  position: relative;
  overflow: hidden;
  z-index: 0;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: right;
  background-image: url("cat(1).cb57f486.webp");
}
section.reverse {
  flex-direction: row-reverse;
}
section.reverse .content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
section.reverse .image {
  background-position: left;
  background-image: url("cat(2).881a413b.webp");
}
@media (max-width: 767px) {
  section.hero {
    flex-direction: column;
    height: 100vh;
  }
  section .content {
    min-height: 60%;
    align-items: flex-start;
    justify-content: flex-end;
  }
  section .image {
    z-index: 10;
    height: 500px;
  }
}
section.facts {
  padding-top: 4em;
  padding-bottom: 4em;
  height: auto;
  min-height: 125vh;
  text-align: center;
  display: block;
  position: relative;
  z-index: 0;
  background: linear-gradient(180deg, #78006c 42.19%, rgba(255, 208, 208, 0) 100%), #fae8e8;
  transition: 2s all;
}
section.facts h2 {
  color: #faeaea;
}
.facts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: 2s all;
}
.fact {
  z-index: 0;
  border: 1px solid rgba(184, 20, 167, 0.4);
  margin: 2vw;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  border-radius: 16px;
  width: 100%;
  max-width: 300px;
  box-shadow: 0px -71px 40px -50px rgba(49, 0, 44, 0.24), 0px 10px 5px rgba(92, 0, 83, 0.63);
  min-height: auto;
  max-height: 700px;
  transition: min-height 700ms;
}
.fact h3 {
  text-transform: uppercase;
  text-shadow: 0px 4px 4px #62185b;
  color: white;
  opacity: 0.8;
  margin: 42px 0px;
  letter-spacing: 0.27em;
  line-height: 1em;
  margin: 2em 0.5em;
}
.fact p {
  text-align: left;
  font-size: 1em;
  font-weight: 600;
  line-height: min(2em, 3em, 3vw);
  margin: 1.5em;
}
.fact button {
  width: 60%;
  margin-bottom: 1.5em;
  align-self: center;
  position: relative;
  display: block;
  z-index: 10;
}
.fact .background {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5;
  background-size: cover;
  transform: scale(1.25);
  background-position: center;
  filter: blur(6px);
}
.fact .background.fact1 {
  background-image: url("illustration (1).bfb371e9.jpg");
}
.fact .background.fact2 {
  background-image: url("illustration (2).dd0ad19e.jpg");
}
.fact .background.fact3 {
  background-image: url("illustration (3).79da6c07.jpg");
}
.fact .background::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 209, 209, 0.7);
}
.fact::after {
  background-color: rgba(255, 209, 209, 0.5);
  z-index: 10;
}
@media (max-width: 767px) {
  section .facts-container {
    flex-direction: column;
    align-items: center;
  }
  section .fact {
    max-width: 80vw;
    margin-bottom: 10vh;
  }
  section .fact p {
    text-align: center;
    font-size: 1.25em;
    font-weight: 500;
    line-height: min(3em, 4em, 6vw);
  }
}
section.pictures, section.meow {
  background-color: #faeaea;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  width: auto;
}
.pictures-container {
  height: auto;
  margin-top: 4em;
  display: flex;
  justify-content: flex-start;
}
.pictures-container .picture {
  border-radius: 32px;
  overflow: hidden;
  height: 70vh;
  min-width: clamp(250px, 50vw, 50vh);
  background-color: #62185b;
  background-position: center;
  background-size: cover;
  margin: 0 2em;
}
.pictures-container .picture[picture="1"] {
  background-image: url("cat(1).cb57f486.webp");
  background-position: right;
}
.pictures-container .picture[picture="2"] {
  background-image: url("cat(2).881a413b.webp");
  background-position: left;
}
.pictures-container .picture[picture="3"] {
  background-image: url("cat(3).a6e39d67.webp");
}
.pictures-container .picture[picture="4"] {
  background-image: url("cat(4).b8c2fc43.webp");
}
.pictures-container .picture[picture="5"] {
  background-image: url("cat(5).1e2dacbc.webp");
}
.pictures-container .picture[picture="6"] {
  background-image: url("cat(6).0a013916.webp");
}
.pictures-container .picture[picture="7"] {
  background-image: url("cat(7).1d4ead80.webp");
}
.pictures-container .picture[picture="8"] {
  background-image: url("cat(8).bb013656.webp");
}
section.meow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
section.meow h3 {
  font-size: clamp(2em, 5vw, 3em);
}
.meow-me {
  min-height: 85vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
  background-color: #ffd1d1;
  border-radius: 32px;
  overflow: hidden;
  z-index: 100;
}
.meow-me h3 {
  opacity: 0.8;
}
.meow-me form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.meow-me form input,
.meow-me form textarea {
  width: 85%;
  max-height: 100px;
}
.meow-me form input:invalid:focus ~ .requirements,
.meow-me form textarea:invalid:focus ~ .requirements {
  max-height: 200px;
}
.meow-me form button[type=submit] {
  max-width: 50%;
  margin: 1em 1em 0 auto;
}
.meow-me form .requirements {
  padding: 0 30px 0 50px;
  color: #999;
  max-height: 0;
  transition: 0.28s;
  overflow: hidden;
  color: red;
  font-style: italic;
}
.opening-hours {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 4em;
  text-align: left;
}
.opening-hours .day {
  margin: 0.8em 0;
}
.opening-hours .day h4 {
  margin: 0.15em 0;
}
@media (max-width: 767px) {
  section.meow {
    flex-direction: column-reverse;
    height: auto;
  }
  section .meow-me,
section .opening-hours {
    margin-bottom: 10vh;
  }
  section .opening-hours {
    align-items: center;
    margin-left: 0;
  }
}
footer {
  height: 30vh;
  background-color: #62185b;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  padding-bottom: 3em;
}
footer h4 {
  color: rgba(255, 209, 209, 0.8);
  margin-bottom: 1.5em;
}
footer .container {
  display: table;
  position: relative;
  display: flex;
  justify-content: flex-start;
}
footer form {
  position: relative;
}
footer input {
  margin: 0;
  box-sizing: border-box;
  background-color: white;
  border: 3px solid #ffd1d1;
  width: 300px;
  height: 60px;
}
footer input:focus,
footer input:selected {
  border: 3px solid #faeaea;
}
footer button {
  border-radius: 11px;
  height: 45px;
  position: absolute;
  margin: -58px 189px;
  background: radial-gradient(102.5% 102.5% at 49.68% -52.5%, #ffd0d0 0%, rgba(255, 208, 208, 0) 100%), #45c4bd;
}
footer button:hover {
  background: radial-gradient(102.5% 102.5% at 49.68% -52.5%, #ffd0d0 0%, rgba(255, 208, 208, 0) 100%), #1ba1a1;
}
.social-links {
  display: flex;
  flex-direction: row;
  margin-left: 2em;
}
.social-links .social-icon {
  border: 3px solid #ffd1d1;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 25px;
}
@media (max-width: 767px) {
  footer {
    padding: 4em;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
  }
  footer h4 {
    text-align: center;
    font-size: 3em;
  }
  footer .social-links {
    margin: 20vh 0;
  }
  footer .social-links .social-icon {
    margin: 0 4vw;
  }
}
.snackbar {
  display: inline-block;
  position: fixed;
  background: #62185b;
  color: #faeaea;
  min-height: 50px;
  min-width: 290px;
  padding: 16px 24px 12px;
  box-sizing: border-box;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 8px;
  bottom: 1rem;
  left: 1rem;
  font-size: 90%;
  transition: visibility 0.3s, transform 0.3s;
  transform: translateY(100px);
  visibility: hidden;
  will-change: transform;
}
.snackbar--visible {
  visibility: visible;
  transform: none;
}
/*# sourceMappingURL=index.41b80beb.css.map */
