@import url("https://fonts.googleapis.com/css2?family=Glory:wght@200;300;500;600;800&display=swap");
html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
}

body {
  font-family: "Glory";
  font-weight: 300;
}

ul li, a {
  list-style: none;
  text-decoration: none;
}

a {
  color: #faeaea;
}

p {
  color: #62185b;
  font-size: 1.5em;
}

h4, h5 h6 {
  font-weight: 300;
  color: #62185b;
}

h3 {
  font-weight: 400;
  color: #62185b;
}

h2 {
  font-weight: 600;
  color: #62185b;
}

h1 {
  font-size: 10em;
  font-weight: 800;
  color: #62185b;
}

h2 {
  font-size: 4em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.75em;
}

nav li a {
  font-size: 0.75em;
  font-weight: 300;
}

img {
  width: 100%;
}

button {
  font-family: "glory";
  font-weight: 400;
  border-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.75rem;
  color: #62185b;
  background: radial-gradient(129.83% 129.83% at 49.68% -52.5%, #FFE6E6 38.96%, rgba(255, 208, 208, 0) 100%), rgba(103, 0, 93, 0.63);
  box-shadow: 0px 6px 12px rgba(120, 0, 108, 0.24);
  text-shadow: 0px 2px 6px rgba(120, 0, 108, 0.7);
  border-radius: 16px;
  font-size: 1.25rem;
  letter-spacing: 4px;
  transition: all 200ms cubic-bezier(0, 0, 0.44, 0.68);
}

button:hover {
  cursor: pointer;
  background: radial-gradient(102.5% 102.5% at 49.68% -52.5%, #FFD0D0 0%, rgba(255, 208, 208, 0) 100%), #78006C;
  box-shadow: 0px 4px 4px rgba(120, 0, 108, 0.18);
  color: #faeaea;
}

input, textarea {
  background-color: #faeaea;
  padding: 1em;
  margin: 1em;
  outline: none;
  border: 3px solid #faeaea;
  border-radius: 12px;
  color: #62185b;
}

input:focus, textarea:focus, select:focus {
  border: 3px solid rgba(153, 51, 143, 0.7);
  box-sizing: border-box;
  color: #62185b;
  font-weight: 600;
  transition: all 200ms;
}

.meow-me.focused {
  box-shadow: 0 0 4px 4px rgba(153, 51, 143, 0.7);
  transition: 200ms all;
}

.overlay-focus {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(28, 23, 28, 0.8);
  /* Black background with opacity */
  z-index: 2;
  /* Specify a stack order in case you're using a different order */
  transition: all 100ms linear;
}

.overlay-focus-on {
  display: block;
}

header {
  font-size: 2em;
  position: absolute;
  display: block;
  width: 100%;
}
header ul {
  background-color: rgba(115, 13, 105, 0.5);
}

header a#logo {
  color: #62185b;
  font-weight: 800;
  margin: 1em;
  background-color: #ffd1d1;
  padding: 0.25em;
  border-radius: 50%;
}

header ul {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-direction: row;
  float: right;
}
header ul li {
  margin-left: 0.75em;
  white-space: nowrap;
}

section {
  height: 100vh;
  width: 100%;
}
section.hero {
  display: flex;
  justify-content: space-between;
}
section .content {
  flex: 1 1.25 200%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  padding: 2em;
}
section#furry {
  background-color: #62185b;
}
section#furry h1, section#furry p {
  color: #faeaea;
}
section#chillin {
  background-color: #faeaea !important;
}
section .image {
  background-size: cover;
  width: 100%;
  background-position: right;
  background-image: url("./files/cat (1).jpg");
}
section.reverse {
  flex-direction: row-reverse;
}
section.reverse .content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
section.reverse .image {
  background-position: -150px 0px;
  background-image: url("./files/cat (2).jpg");
}

section.facts {
  padding-top: 4em;
  padding-bottom: 4em;
  height: auto;
  text-align: center;
  display: block;
  position: relative;
  z-index: 0;
  background: linear-gradient(180deg, #78006C 42.19%, rgba(255, 208, 208, 0) 100%), #FAE8E8;
}
section.facts h2 {
  color: #faeaea;
}

.facts-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.fact {
  z-index: 0;
  margin: clamp(0.5vw, 2vw, 10vw);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  border: 1px solid rgba(184, 20, 167, 0.4);
  max-width: 300px;
  box-shadow: 0px -71px 40px -50px rgba(49, 0, 44, 0.24), 0px 10px 5px rgba(92, 0, 83, 0.63);
}
.fact h3 {
  text-transform: uppercase;
  text-shadow: 0px 4px 4px #62185b;
  color: white;
  opacity: 0.8;
  margin: 42px 0px;
  letter-spacing: 0.27em;
  line-height: 1em;
  margin: 2em 0.5em;
}
.fact p {
  text-align: left;
  font-size: 1em;
  font-weight: 600;
  line-height: min(2em, 3em, 3vw);
  margin: 1.5em;
}
.fact button {
  width: 60%;
  margin-bottom: 1.5em;
  align-self: center;
  position: relative;
  display: block;
  z-index: 10;
}
.fact .background {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5;
  background-size: cover;
  transform: scale(1.25);
  background-position: center;
  filter: blur(6px);
}
.fact .background.fact-one {
  background-image: url("./files/illustration (1).jpg");
}
.fact .background.fact-two {
  background-image: url("./files/illustration (2).jpg");
}
.fact .background.fact-three {
  background-image: url("./files/illustration (3).jpg");
}
.fact .background::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 209, 209, 0.7);
}
.fact::after {
  background-color: rgba(255, 209, 209, 0.5);
  z-index: 10;
}

section.pictures, section.meow {
  background-color: #faeaea;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  width: auto;
}

.pictures-container {
  height: auto;
  margin-top: 4em;
  display: flex;
  justify-content: flex-start;
  overflow-x: hidden;
}
.pictures-container .picture {
  border-radius: 32px;
  overflow: hidden;
  height: 70vh;
  min-width: clamp(250px, 50vw, 50vh);
  background-color: #62185b;
  margin: 0 2em;
}

section.meow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
section.meow h3 {
  font-size: clamp(2em, 5vw, 3em);
}

.meow-me {
  min-height: 85vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
  background-color: #ffd1d1;
  border-radius: 32px;
  overflow: hidden;
  z-index: 100;
}
.meow-me h3 {
  opacity: 0.8;
}
.meow-me form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.meow-me input, .meow-me textarea {
  width: 85%;
  max-height: 100px;
}
.meow-me button[type=submit] {
  max-width: 50%;
  margin: 1em 1em 0 auto;
}

.opening-hours {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 4em;
  text-align: left;
}
.opening-hours .day {
  margin: 0.8em 0;
}
.opening-hours .day h4 {
  margin: 0.15em 0;
}

footer {
  height: 30vh;
  background-color: #62185b;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 3em;
}
footer h4 {
  color: rgba(255, 209, 209, 0.8);
  margin-bottom: 1.5em;
}
footer .container {
  display: table;
  position: relative;
  display: flex;
  justify-content: flex-start;
}
footer form {
  position: relative;
}
footer input {
  margin: 0;
  box-sizing: border-box;
  background-color: white;
  border: 3px solid #ffd1d1;
  width: 300px;
  height: 60px;
}
footer input:focus, footer input:selected {
  border: 3px solid #faeaea;
}
footer button {
  border-radius: 11px;
  height: 45px;
  position: absolute;
  margin: -58px 189px;
  background: radial-gradient(102.5% 102.5% at 49.68% -52.5%, #FFD0D0 0%, rgba(255, 208, 208, 0) 100%), #45c4bd;
}
footer button:hover {
  background: radial-gradient(102.5% 102.5% at 49.68% -52.5%, #FFD0D0 0%, rgba(255, 208, 208, 0) 100%), #1ba1a1;
}

.social-links {
  display: flex;
  flex-direction: row;
  margin-left: 2em;
}
.social-links .social-icon {
  border: 3px solid #ffd1d1;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 25px;
}

/*# sourceMappingURL=style.css.map */
